@import "tailwindcss";

/* =========================
   Darkmode
========================== */

@theme {

   /* Backgrounds */

   --color-background-dark: #000e09;
   --color-background-light: #d8f3dc;

   --color-surface: #081c15;
   --color-surface-hover: #1b4332;

   /* Brand */

   --color-brand-dark: #2d6a4f;
   --color-brand: #52b788;
   --color-brand-light: #95d5b2;
   --color-brand-soft: #d8f3dc;

   /* Typography */

   --color-primary-tx: #f8fafc;
   --color-secondary-tx: #cbd5e1;
   --color-muted-tx: #94a3b8;
   --color-disabled-tx: #64748b;

   /* Borders */

   --color-rd: #2d6a4f;

   /* Status */

   --color-success: #2FBF71;
   --color-warning: #D4A017;
   --color-danger: #C0392B;
   --color-info: #168AAD;

   /* Effects */

   --shadow-card:
      0 4px 12px rgb(0 0 0 / 0.35);

   --shadow-modal:
      0 12px 32px rgb(0 0 0 / 0.50);
}

/* =========================
   lithmode
========================== */

@layer base {

  .light {

  }

}

/* =========================
   Radius
========================== */

h1{
   color: var(--color-warning)
}

label {
   color: var(background-dark)
}

input{
   color: var(--color-secondary-tx);
   background: white;
   border: 2px solid var(--color-brand-dark);
}

select {
   color: var(--color-secondary-tx);
   background: white;
   border: 2px solid var(--color-brand-dark);
}

input::placeholder {
  color: var(--color-disabled-tx);
}

select::placeholder {
  color: var(--color-disabled-tx);
}